# Environment Variables Example File

NODE_ENV=YOUR_ENVIRONMENT
PORT=YOUR_PORT
FRONTEND_URL=YOUR_FRONTEND-URL
MONGO_URI=YOUR_MONGO-URI_STRING
JWT_SECRET=YOUR_JWT_SECRET

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET

# FatSecret API Configuration
FATSECRET_CONSUMER_KEY=YOUR_FATSECRET_CONSUMER_KEY
FATSECRET_CONSUMER_SECRET=YOUR_FATSECRET_CONSUMER_SECRET